body {
      font-family: sans-serif;
      padding: 40px;
      background-color: #e8e9ea;
     
    }

    .dropdown-container {
      margin-bottom: 20px;
     
    }

    .dropdown {
      position: relative;
      width: 300px;
      
    }

    .dropdown-button {
      width: 100%;
      padding: 10px;
      background-color: white;
      border: 1px solid #838383;
      cursor: pointer;
      text-align: left;
      border-radius: 10px;
      
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 175%;
      background-color: white;
      border: 1px solid #ccc;
      display: none;
      z-index: 10;
    }

    .dropdown-search {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
    }

    .dropdown-options {
      max-height: 200px;
      overflow-y: auto;
    }

    .dropdown-options div {
      padding: 8px 10px;
      cursor: pointer;
    }

    .dropdown-options div:hover {
      background-color: #eee;
    }

    .relic-row {
    display: flex;
    gap: 50px;
    margin-bottom: 10px;
    align-items: flex-start;
    }

    .large-dropdown {
    width: 300px;
    }

    .head-dropdown {
    width: 75px;
    }
    .hand-dropdown {
    width: 75px;
    }
    .body-dropdown {
    width: 75px;
    }
    .boots-dropdown {
    width: 75px;
    }
    .orb-dropdown {
    width: 75px;
    }
    .rope-dropdown {
    width: 75px;
    }
    .sub-dropdown {
    width: 75px;
    }

    .small-dropdown .dropdown-button {
    padding: 12px;
    font-size: 12px;
    }
  
    .relic-values {
    display: flex;
    gap: 5px;
    align-items: center;
    }
    .relic-num {
    width: 45px;
    height : 28px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    }
    .upgradeCount {
    font-weight: bold;
    font-size: 14px;
    margin-left: -35px;
    color: #333;
    transform: translateY(6px);
    transition: color 0.2s ease;
    }
    .credits{
      margin-top: auto;
      font-family: sans-serif;
      bottom: 10px;
      right: 15px;
      text-align: right;
      font-size: 12px;  
      color: #555;      
      opacity: 0.8;
    }
    .credits h3{
      margin : 0;
      
      font-weight: normal;
      font-size:inherit;
    }
    .step-dropdown {
      font-size: 12px;
      font-family: sans-serif;
      padding: 4px 6px;
      width: 65px;
      border: 1px solid #aaa;
      border-radius: 10px;
      background-color: #f0f0f0;
      cursor: pointer;
      transition: background 0.2s;
      height : 40px;
    }

    .step-dropdown:hover {
      background-color: #e0e0e0;
    }
    #import-btn{
      
      background-color: rgb(161, 249, 161);
    }
    #export-btn{
      background-color: rgb(230, 161, 161);
    }
    }

    .step-dropdown:hover {
      background-color: #e0e0e0;
    }
